@import '@assets/scss/colors';

.card_rating {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 500;
  font-style: normal;
  color: $white;
  background-color: $elcarhba_yellow;
  padding: 0 5px;
  background: $elcarhba_yellow 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.btn_learn_more {
  color: $white;
  background-color: $elcarhba_yellow;
  border-radius: 10px;
  &:hover {
    background-color: $dark_navy_blue;
  }
}
.card_details {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  font-style: normal;
  & > *:not(:last-child) {
    margin-right: 1rem;
  }
  p {
    margin: 0;
  }
}
