@import '@assets/scss/colors';
.dialog_container {
  background-color: $white;
  height: 400px;
}
.header_title {
  color: $dark_navy_blue;
  text-align: center;
}

.normal_btn {
  background-color: $elcarhba_yellow;
  color: $white;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
  &:hover {
    background-color: $dark_navy_blue;
  }
}
.outlined_btn {
  border: 2px solid $elcarhba_yellow;
  color: $elcarhba_yellow;
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    border: 2px solid $dark_navy_blue;
    color: $dark_navy_blue;
  }
}
