@import '@assets/scss/colors';

.custom_input {
  color: $white !important;
  *:focus-visible {
    outline: none !important;
  }
  input {
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    color: $white;
    &::placeholder {
      color: #8a8a8a;
      opacity: 1;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px #000 inset;
      -webkit-text-fill-color: #fff;
    }
  }
}

.custom_input-light {
  color: black !important;
  *:focus-visible {
    outline: none !important;
  }
  input {
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    color: black;
    &::placeholder {
      color: #8a8a8a;
      opacity: 1;
    }
    &:-webkit-autofill {
      box-shadow: 0 0 0 100px #fff inset;
      -webkit-box-shadow: 0 0 0 100px #fff inset;
      -webkit-text-fill-color: #000;
      -webkit-text-fill-color: #000;
    }
  }
}
