@import '@assets/scss/colors';

.pagination_container {
  margin: auto;
  margin-top: 2rem;
  button {
    color: #10323e;
    background-color: white;
    font-weight: bold;
  }
  :global {
    .MuiPaginationItem-root.MuiPaginationItem-previousNext {
      color: $white;
      background: $elcarhba_yellow;
    }
    .Mui-selected {
      color: white !important;
      background-color: #10323e !important;
    }
  }
}

.mini_pagination_container {
  height: 100%;
  button,
  button:hover {
    background-color: $navy_blue_variation;
    color: $white;
    &:disabled {
      background-color: $white;
      color: $navy_blue_variation;
    }
    &.prev_button {
      margin-right: 1rem;
    }
  }
}
