@import '@assets/scss/colors';

.partners_container {
  background: url(/backgrounds/bg-partners.png) no-repeat;
  background-size: cover;
  border-top: 2px solid #707070;
  border-bottom: 1px solid #707070;
  .partners_container_grid {
    padding: 3rem;
    backdrop-filter: contrast(0.1) brightness(1.8);
    .partners_title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      .title {
        border: 3px solid $dark_gray_2;
        font-weight: 700;
        color: $dark_gray_2;
        font-style: normal;
        font-size: 2rem;
        padding: 0.5rem 4rem;
      }
    }
  }
}
