/* Colors: */
$light_white: #fcfcfc;
$lighter_gray: #e5e5e5;
$dark_gray: #3d3d3d;
$dark_gray_2: #3b3b3b;
$light_gray_variation: #cfcfcf;
$black_variation: #3e3e3e;
$elcarhba_yellow: #f5a934;
$white: #ffffff;
$dark_navy_blue: #324a54;
$blue: #6c63ff;
$grey: #8a8a8a;
$light_grey: #ececec;
$transparent_navy_blue: #2c3f47;
$navy_blue_variation: #10323e;
$yellow_shadow: #d99b39;
$opaque-yellow_shadow: #d99b39aa;
$honey_color: #ffd99f;
$bloody_red: #a70508;
$transparent_grey: #f6f6f6;
